<div class="container mt-4">
    <div *ngIf="isLoading" class="text-center my-4">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
        <p class="mt-2">Loading...</p>
    </div>

    <div *ngIf="!isLoading" class="row">
        <div class="col-12 mb-4 text-center">
            <button class="btn btn-secondary" (click)="goBack()">
                <i class="fas fa-arrow-left mr-2"></i>Back
            </button>
        </div>

        <div class="col-md-6 offset-md-3">
            <div class="card shadow-lg">
                <img class="card-img-top" [src]="user.avatar" alt="{{ user.first_name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="card-text">Email: {{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>